<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Anticipate</lang>
		<lang name="russian">Anticipate</lang>
	</name>
	<author>
		<lang name="default">Chiffa</lang>
		<lang name="russian">Chiffa</lang>
	</author>
	<homepage>http://ars-team.ru</homepage>
	<version>1.0</version>
	<settings>{anticipate}admin/</settings>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Anticipate pages for Livestreet CMS</lang>
		<lang name="russian">Страницы "технического обслуживания" для Livestreet CMS</lang>
	</description>
</plugin>